<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <title>Vue Tic Tac Toe</title>
  </head>
  <body>
    <main id="app">
      <div class="container">
        <h1>{{ title }}</h1>
        <p v-if="winner" v-bind:class="winner === 'x' ? 'orange' : 'blue'">
          {{ winner }} wins!
        </p>
        <p v-else v-bind:class="playerTurn === 'x' ? 'orange' : 'blue'">
          {{ instructions }}
        </p>
        <div v-bind:class="[(winner || turns === 9) && 'disabled', 'board']">
          <div
            v-for="cell in cellMarks"
            v-on:click="markCell(cell)"
            class="cell"
            v-bind:class="cell.color"
          >
            {{ cell.mark }}
          </div>
        </div>
        <button v-on:click="reset" type="button">reset</button>
        <div class="scores">
          <span>score:</span>
          <span class="orange">x - {{ xwins }}</span>
          <span class="blue">o - {{ owins }}</span>
          <span class="neutral">ties - {{ ties }}</span>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
